@charset "utf-8";
// banner
.banner{
    position: relative;
    margin-bottom: 20px;
    clear: both;
}
.banner-con{
    width: 100%;
    height: 506px;
    position: relative;
    overflow: hidden;
    background-color: #f1f4f5;
}
.show-image{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.banner-con .show-image li{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0; 
   display: none;
}
// 轮播图上方的日期
.show-image .show-title{
    text-shadow: 0 1px 3px rgba(0,0,0,.9);
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    font-size: 26px;
    text-align: left;
    min-width: 1000px;
    z-index: 20;
}
.data{
    position: relative;
    width: 180px;
    font-size: 24px   
}
.data .day span{
    font-size: 38px;
}
.banner-con .show-image li img{
    width: 100%;
    height: 100%;
}
.show-title h3{
    font-size: 26px;
}

.imge-btn{
    position: absolute;
    right: 40px;
    top: 45%;
    margin-top: -166px;
    width: 110px;
    z-index: 2;
}
.banner-con .imge-btn li{
    height: 62px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
}
.banner-con .imge-btn li img{
    width: 110px;
    height: 62px;
}
.banner-con .imge-btn li a span{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 106px;
    height: 58px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 157, 0);
    border-image: initial;
    overflow: hidden;
    z-index: 10;
    display: none;
}
.show-more{
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 50%;
    margin-top: 160px;
    width: 110px;
    height: 35px;
    background-image: url(../images/index-sprites8@2x.png);
    background-position: -60px -50px!important;
    line-height: 200px;
    overflow: hidden;
    background-size: 200px;
}
// 搜索框
.search-container{
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -320px;
    width: 602px;
    z-index: 5;
    padding: 15px;
    background-color: rgba(0,0,0,.6);
    border-radius: 4px;
}
.searchtab{
    margin-bottom: 7px;
    color: #fff;
    line-height: 26px;
    font-size: 14px;
}
.searchtab li {
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.searchtab i {
    float: left;
    margin: 5px 5px 0 0;
    width: 16px;
    height: 16px;
    background-size: 200px;
    background-image: url(../images/header-sprites15@2x.png);
    background-position: -60px -110px;
}
.tab-selected i{
    background-size: 200px;
    background-image: url(../images/header-sprites15@2x.png);
    background-position: -60px -140px!important;
}

.searchbar .search-wrapper{
    width: 546px;
    height: 46px;
    float: left;
}
.searchbar .search-button{
    float: left;
    margin-left:6px;
    width: 50px;
    height: 46px;
}
.search-group .search-input input {
    width: 504px;
    height: 46px;
    border: 0 none;
    padding: 0 21px;
    margin: 0;
    line-height: 46px;
    font-size: 16px;
    color: #666;
    border-radius: 4px;
}
.search-button a{
    display: block;
    height: 46px;
    background-color: #ff9d00;
    border-radius: 4px;
    text-align: center;
}
.search-button .icon-search{
    display: inline-block;
    margin-top: 11px;
    width: 24px;
    height: 24px;
    background-image: url(../images/header-sprites15@2x.png);
    background-position: 0 -110px;
    background-size: 200px;
    overflow: hidden;
    vertical-align: top;
}
// 主体部分css
.mfw-container{
    width: 1000px;
    margin: 0 auto;
}
.mfw-subnav{
    width: 100%;
    margin-bottom: 19px;
    font-size: 0;
    white-space: nowrap;
}
.mfw-subnav .sales-entrys-item{
    width: 128px;
    height: 47px;
    margin-left: 8px;
    padding-top: 8px;
    padding-left: 7px;
    float: left;
    border-radius: 3px;
    font-family: PingFangSC-Semibold;
    cursor: pointer;
    border: .5px solid #e5e5e5;
    background: url(../images/wKgE2l0HSGuAOI1tAAChEE0vNA4603.png) no-repeat;
    background-size: 104px auto;
    background-position: 59px -651px;
}
.sales-entrys-title{
    display: inline-block;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-family: PingFangSC-Semibold;
    color: #333;
    box-sizing: border-box;
}
.sales-entrys-subtitle{
    height: 16px;
    padding-top: 1px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    font-family: PingFangSC-Regular;
    color: #9d9d9d;
}
.mfw-container .mfw-subnav .sales-entrys-item-one{
    margin-left: 0;
}
.mfw-subnav .sales-entrys-item-two{
    background-position: 59px -24px;
}
.mfw-subnav .sales-entrys-item-three{
    background-position: 59px -129px;
}
.mfw-subnav .sales-entrys-item-four{
    background-position: 59px -441px;
}
.mfw-subnav .sales-entrys-item-five{
    background-position: 59px -546px;
}
.mfw-subnav .sales-entrys-item-six{
    background-position: 59px -335px;
}
.mfw-subnav .sales-entrys-item-senven{
    background-position: 59px -233px;
}
.mfw-subnav .sales-entrys-item:hover{
    box-shadow: 0 0 8px #939a9d;
}
.mfw-subnav .sales-entrys-item:hover .sales-entrys-title{
    border-bottom:3px solid rgb(255, 157, 0);
    border-radius: 25%;
}
//侧边栏
.mfw-aside{
    float: left;
    width: 260px;
}
.safety-prevention img{
    padding-bottom: 37px;
}
.aside-hd {
    height: 35px;
    line-height: 35px;
    margin-bottom: 12px;
}
.aside-hd h2{
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.aside-hd span{
    float: right;
    font-size: 12px;
}
.aside-hd span a{
    color: #999999;
}
.box-activity .activity-link{
    display: block;
    padding: 10px 0 5px;
    font-size: 16px;
    line-height: 16px;
    color: #ff9d00;
}
.box-gonglve dl dd a{
    display: block;
    margin: 10px 0 5px;
    width: 260px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.box-activity p{
    height: 20px;
    font-size: 14px;
    color: #666666;
}

//小轮播图
.travel-banner{
    position: relative;
    overflow: hidden;
    height: 241px;
}
.img-Box{
    position: absolute;
    left: 0;
    top: 0;
    width: 1560px;
   
}
.img-Box li{
    float: left;
}
.img-Box img{
    width: 260px;
    height: 140px;
}
.img-Box li h2{
    margin: 10px 0 5px;
    width: 260px;
    height: 26px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.img-Box li h2 a{
    color: #333;
    width: 260px;
}
.img-Box li p{
    width: 260px;
    height: 60px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    color: #666666;
}

.btn-box{
    position: absolute;
    right: 14px;
    top: 120px;
    width: 90px;
    height: 8px;
}
.btn-box li{
    float: left;
    margin-left: 3px;
    width: 15px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
.btn-box .btnActive{
    background-color: #ff9d00;
}
//asidenews
.box-news .news-title{
    line-height: 35px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.box-news .newsBox li{
    height: 30px;
    width: 260px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-size: 12px;
    color: #666;
}
.box-news .newsBox li a{
    color: #666;
}

//wrapper栏
.mfw-wrapper{
    float: right;
    width: 700px;
    position: relative;
}
//wrapper的导航栏
.mfw-wrapper .tn-nav{
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.tn-nav .tn-nav-hot {
    float: left;
    text-align: center;
    width: 170px;
}
.tn-nav-hot a{
    color: #333;
    font-size: 18px;
}
.asideBox{
    margin-bottom: 30px;
}
.box-unknow img{
    width: 260px;
    height: 170px;
}
.box-hr img{
    width: 260px;
    height: 146px;
}
.tn-nav-hot span{
    display: inline-block;
    margin-left: 7px;
    line-height:20px;
    border: 1px solid #e5e5e5;
    color: #666666;
    font-size: 12px;
    padding: 0 10px 0 8px;
    vertical-align: 2px;
}
.tn-nav-hot span i{
    float: left;
    width: 11px;
    height: 8px;
    margin: 6px 5px 0 0;
    background: url(../images/index-sprites8@2x.png);
    background-size: 200px;
    background-position: 0 -130px;
}
.tn-nav-hot span:hover{
    background-color: #ff9d00;
    color: #ffffff;
}
.tn-nav-hot span:hover i{
    background-position: 0 -140px;
}
.tn-nav-hot a:hover{
    color: #ff9d00;
}
.tn-nav .tn-nav-new {
    float: left;
    text-align: center;
    width: 120px;
}
.tn-nav-new a{
    color: #333;
    font-size: 18px;
}
.tn-nav li:hover a{
    color: #ff9d00;
}
.tn-nav .tn-active{
    padding-bottom: 6px;
    border-bottom: 3px solid #ff9d00;  
}
.tn-nav .tn-active a {
    color: #ff9d00;
}

.tn-write{
    float: right;
    width: 140px;
}
.tn-write a{
    display: block;
    height: 36px;
    background-color: #ff9d00;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
}
.tn-write:hover a{
    background-color: #ff8d00;
}
.tn-write a i{
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-right: 5px;
    background: url(../images/index-sprites8@2x.png) no-repeat 0 0;
    background-size: 200px;
    vertical-align: -3px;
}
//tn-列表
.tn-content{
    position: absolute;
    top: 65px;
    left: 0;
    // display: none;
}
.tn-content-new{
    position: absolute;
    top: 65px;
    left: 0;
    display: none;
}
.tn-list {
    width: 700px;
    
}
.tn-list .tn-list-item{
    height: 150px;
    width: 700px;
    padding: 0;
}
.tn-list-item .imgBox{
    display: block;
    width: 220px;
    height: 150px; 
    float: left;
}
.tn-list-item .imgBox img{
    width: 100%;
    height: 100%;
    display: block;
    
}
.wrapperBox{
    float: right;
}
.wrapperBox dl{
    width: 455px;
    height: 117px;
}
.wrapperBox dl dt a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #333333;
}
.wrapperBox dl dt{
    margin-bottom: 12px;
}
.wrapperBox dl dd a{
    color: #666;
    font-size: 14px;
    line-height: 20px;
}
.extraBox{
    height: 33px;
    // overflow: hidden;
    line-height: 33px;
}
.tn-num,.tn-place,.tn-user{
    margin-right: 5px;
    display: inline-block;
    font-size: 12px;
    color: #666666;
    line-height: 33px;
}
.tn-place i{
    float: left;
    margin: 8px 5px 0 0;
    width: 14px;
    height: 16px;
    overflow: hidden;
    background: url(../images/index-sprites8@2x.png) no-repeat 0 -50px;
    background-size: 200px;
}
.extraBox a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
.tn-user a img{
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: -4px;
    margin-left: 5px;
}
.tn-user a{
    color: #ff9d00;
}
.extraBox .tn-num{
    font-size: 14px;
    color: #999;
}
.tn-num i{
    float: left;
    margin: 10px 10px 0 10px;
    width: 18px;
    height: 14px;
    background: url(../images/index-sprites8@2x.png) no-repeat -30px -50px;
    background-size: 200px;
}

.tn-ding{
    float: right;
    color: #ff9d00;
    font-size: 14px;
    text-align: right;
    line-height: 33px;
    text-align: center;
}
.tn-ding a{
    width:38px;
    height: 33px;
    float: right;
    margin-left: 8px;
    background: url(../images/index-sprites8@2x.png) no-repeat -60px 0;
    background-size: 200px;
}
.tn-list-item-box:hover{
    background-color: #f3efef;

}
.tn-list-item-box:hover dt a{
    color: #ff9d00;
}
.tn-list-item-box{
    width: 700px;
    height: 150px;
    padding: 15px;
    margin-left: -15px;
    
}
.item-count{
    width: 700px;
    height: 24px;
    padding: 20px 0 20px  5px ;;
}
.item-count .count{
    float: right;
    color: #999999;
    padding-right: 12px;
    font-size: 12px;
}
// footer
.footer{
    width: 100%;
    height: 597px;
}
.footer img{
    width: 100%;
    height: 100%;
    display: block;
}
